.header {
  height: 10vh;
  width: 100%;
  background-color: #344e41;
  color: white;
  padding: 20px;
}

.logo {
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
