.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.form-group {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  input {
    padding: 10px;
  }
}
.btn {
  padding: 10px;
  font-size: 20px;
}
.to-games-btn {
  max-width: 80%;
  img {
    max-height: 60vh;
  }
}
