.game-card {
  width: 99%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  position: relative;
  font-size: 2rem;
  background-color: #e8ddb5;
  width: 80%;
  padding: 30px 10px 50px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;

  &-counter {
    position: absolute;
    bottom: -15px;
    left: 45%;
    background-color: white;
    border: 3px solid #e8ddb5;
    border-radius: 50%;
    padding: 10px;
    font-size: 1rem;
  }
}

.answers-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-self: stretch;
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  width: 100%;
}

.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px 5px;
  border: 1px solid #5bba6f;
  border-radius: 5px;
  cursor: pointer;
  width: 49%;
  max-width: 300px;

  .image {
    min-height: 100px;
    height: 28vh;
    width: 99%;
  }
}

.btn-next {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #054a29;
  border-radius: 5px;
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #137547;
    box-shadow: 0 0 0 2px #054a29;
    transition: 0.7s;
    border: none;
  }
}

.correct {
  background-color: #5bba6f;
  color: white;
}

.incorrect {
  background-color: #d62828;
  color: white;
  border: 1px solid #d62828;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.play_btn {
  width: 50px;
  height: 50px;
}
