<div class="game-card">
  <div class="question">{{questionsList[currentQuestionIndex].value.toUpperCase()}}<span
      class="question-counter">{{currentQuestionIndex +
      1}} / {{questionsList.length}}</span></div>
  <ul class="answers-list">
    <li *ngFor="let currentAnswer of questionsList[currentQuestionIndex].answersList; index as i"
      class="answer" [ngClass]="{
        'correct': selectedAnswerIndex === i && isAnswerCorrect,
        'incorrect': selectedAnswerIndex === i && !isAnswerCorrect,
        'disabled': selectedAnswerIndex !== null
      }" (click)="checkIsAnswerCorrect(currentQuestionIndex, i)">
      <img src={{currentAnswer.value}} class="image">
    </li>
  </ul>
  <button class="btn btn-next" [ngClass]="{'disabled': !(selectedAnswerIndex !== null)
      }" [disabled]="!(selectedAnswerIndex !== null)" (click)="showNextQuestion()">Next</button>
</div>