:host {
  display: block;
  height: 100%;
}

.not-found {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__text {
    font-size: 1.5rem;
    max-width: 50%;
    text-align: center;
  }
}
