.footer {
  height: 5vh;
  width: 100%;
  background-color: #344e41;
  color: white;
  padding: 20px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github__link {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
